In [236]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score
import numpy as np
import pandas as pd
import random
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve , auc
from sklearn.metrics.cluster import fowlkes_mallows_score as gmean
import statistics as stat

In [237]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [238]:
df=pd.read_csv('/content/drive/MyDrive/glass-0-1-6_vs_5.csv')
df

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class
0,1.515888,12.87795,3.43036,1.40066,73.2820,0.68931,8.04468,0.0,0.1224,negative
1,1.517642,12.97770,3.53812,1.21127,73.0020,0.65205,8.52888,0.0,0.0000,negative
2,1.522130,14.20795,3.82099,0.46976,71.7700,0.11178,9.57260,0.0,0.0000,negative
3,1.522221,13.21045,3.77160,0.79076,71.9884,0.13041,10.24520,0.0,0.0000,negative
4,1.517551,13.39000,3.65935,1.18880,72.7892,0.57132,8.27064,0.0,0.0561,negative
...,...,...,...,...,...,...,...,...,...,...
179,1.518531,14.08825,2.19112,1.66067,72.6716,0.00000,9.32512,0.0,0.0000,positive
180,1.512995,14.40080,1.74212,1.53869,74.5476,0.00000,7.59276,0.0,0.0000,positive
181,1.518872,14.99265,0.78126,1.74092,72.4980,0.00000,9.94920,0.0,0.0000,positive
182,1.519055,14.00180,2.38868,1.56116,72.3692,0.00000,9.57260,0.0,0.0000,positive
183,1.519169,14.14810,0.00000,2.09081,72.7388,0.00000,10.88532,0.0,0.0000,positive

In [239]:
df["Class"].value_counts()
class_label=df['Class']
class_label

0      negative
1      negative
2      negative
3      negative
4      negative
         ...
179    positive
180    positive
181    positive
182    positive
183    positive
Name: Class, Length: 184, dtype: object

In [240]:
label_encoder = LabelEncoder()
df["Class"] = label_encoder.fit_transform(df["Class"])
df.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class
0,1.515888,12.87795,3.43036,1.40066,73.2820,0.68931,8.04468,0.0,0.1224,0
1,1.517642,12.97770,3.53812,1.21127,73.0020,0.65205,8.52888,0.0,0.0000,0
2,1.522130,14.20795,3.82099,0.46976,71.7700,0.11178,9.57260,0.0,0.0000,0
3,1.522221,13.21045,3.77160,0.79076,71.9884,0.13041,10.24520,0.0,0.0000,0
4,1.517551,13.39000,3.65935,1.18880,72.7892,0.57132,8.27064,0.0,0.0561,0

In [241]:
minor=df[df["Class"]==1]
major=df[df["Class"]==0]
minor=minor.drop(["Class"], axis=1)
minority=minor.to_numpy()
minor.shape
major.shape
diff=major.shape[0]-minor.shape[0]
r=diff
loop=diff/minor.shape[0]
if(diff%minor.shape[0]==0):
    iter=int(diff/minor.shape[0])
else:
  iter=int(diff/minor.shape[0])+1
minor.shape

(9, 9)

In [242]:
for id in range(r):
  if(diff>0):
    distances = np.linalg.norm(minority - minority[id], axis=1)  #calculating the distances to other instances
    k = 4
    nearest_neighbor_ids = distances.argsort()[:k] #finding 3 nearest neighbours n1,n2 and n3
    n1=minority[nearest_neighbor_ids[1]]
    n2=minority[nearest_neighbor_ids[2]]
    n3=minority[nearest_neighbor_ids[3]]
    r1=random.uniform(0,1)
    r2=random.uniform(0,1)
    w=random.uniform(0.5,1)
    velocity= w+r1*(n1-n3) + r2*(n1-n2)         #velocity vector
    new_minor=minority[id]+velocity             #position update
    d=minor.shape[1] 
    minB=minor.min().to_numpy()
    maxB=minor.max().to_numpy()
    for i in range(d):
      if(new_minor[i]<minB[i]):
        new_minor[i]=minB[i];
      if(new_minor[i]>maxB[i]):
        new_minor[i]=maxB[i];
    minority=np.append(minority,new_minor)
    minority=np.reshape(minority,(-1, minor.shape[1]))
    diff=diff-1

minority.shape

(175, 9)

In [243]:
df_minor = pd.DataFrame(minority, columns =['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe'])
df_minor

           RI        Na       Mg       Al       Si    K        Ca   Ba   Fe
0    1.519692  14.56040  0.00000  0.55964  73.4780  0.0  11.21888  0.0  0.0
1    1.511150  17.38000  0.00000  0.34136  75.4100  0.0   6.64588  0.0  0.0
2    1.519374  13.78900  2.41113  1.18880  72.7612  0.0   9.76628  0.0  0.0
3    1.518280  14.46065  2.24051  1.61894  72.3804  0.0   9.26056  0.0  0.0
4    1.518531  14.08825  2.19112  1.66067  72.6716  0.0   9.32512  0.0  0.0
..        ...       ...      ...      ...      ...  ...       ...  ...  ...
170  1.519692  17.38000  2.41113  2.09081  75.4100  0.0  11.21888  0.0  0.0
171  1.519692  17.38000  2.41113  2.09081  75.4100  0.0  11.21888  0.0  0.0
172  1.519692  17.38000  2.41113  2.09081  75.4100  0.0  11.21888  0.0  0.0
173  1.519692  17.38000  2.41113  2.09081  75.4100  0.0  11.21888  0.0  0.0
174  1.519692  17.38000  2.41113  2.09081  75.4100  0.0  11.21888  0.0  0.0

[175 rows x 9 columns]

In [244]:
dup=[]
for i in range(df_minor.shape[0]):
  dup.append(1)
Class=np.array(dup)
Class=np.reshape(Class,(-1,1))
df_minor_class=pd.DataFrame(Class,columns=['Class'])
df_minor['Class']=df_minor_class
df_minor

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class
0,1.519692,14.56040,0.00000,0.55964,73.4780,0.0,11.21888,0.0,0.0,1
1,1.511150,17.38000,0.00000,0.34136,75.4100,0.0,6.64588,0.0,0.0,1
2,1.519374,13.78900,2.41113,1.18880,72.7612,0.0,9.76628,0.0,0.0,1
3,1.518280,14.46065,2.24051,1.61894,72.3804,0.0,9.26056,0.0,0.0,1
4,1.518531,14.08825,2.19112,1.66067,72.6716,0.0,9.32512,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...
170,1.519692,17.38000,2.41113,2.09081,75.4100,0.0,11.21888,0.0,0.0,1
171,1.519692,17.38000,2.41113,2.09081,75.4100,0.0,11.21888,0.0,0.0,1
172,1.519692,17.38000,2.41113,2.09081,75.4100,0.0,11.21888,0.0,0.0,1
173,1.519692,17.38000,2.41113,2.09081,75.4100,0.0,11.21888,0.0,0.0,1
174,1.519692,17.38000,2.41113,2.09081,75.4100,0.0,11.21888,0.0,0.0,1

In [245]:
majority=major.to_numpy()
majority=np.reshape(majority,(-1,major.shape[1]))
majority
df_major = pd.DataFrame(majority, columns = ['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Class'])
df_major

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class
0,1.515888,12.87795,3.43036,1.40066,73.2820,0.68931,8.04468,0.00000,0.1224,0.0
1,1.517642,12.97770,3.53812,1.21127,73.0020,0.65205,8.52888,0.00000,0.0000,0.0
2,1.522130,14.20795,3.82099,0.46976,71.7700,0.11178,9.57260,0.00000,0.0000,0.0
3,1.522221,13.21045,3.77160,0.79076,71.9884,0.13041,10.24520,0.00000,0.0000,0.0
4,1.517551,13.39000,3.65935,1.18880,72.7892,0.57132,8.27064,0.00000,0.0561,0.0
...,...,...,...,...,...,...,...,...,...,...
170,1.516572,14.79980,0.00000,1.99130,73.1084,0.00000,8.28140,1.71045,0.0000,0.0
171,1.517323,14.95275,0.00000,1.79870,72.9908,0.00000,8.61496,1.54980,0.0000,0.0
172,1.516139,13.88210,1.77804,1.78907,73.0972,0.00000,8.66876,0.75915,0.0000,0.0
173,1.515091,15.15225,0.00000,2.25131,73.5004,0.00000,8.33520,0.63000,0.0000,0.0
174,1.522472,14.85965,2.20010,2.05871,70.2580,0.75762,9.75552,0.00000,0.0000,0.0

In [246]:
balanced_df=pd.concat([df_minor,df_major],axis=0,ignore_index=True)
balanced_df

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class
0,1.519692,14.56040,0.00000,0.55964,73.4780,0.00000,11.21888,0.00000,0.0,1.0
1,1.511150,17.38000,0.00000,0.34136,75.4100,0.00000,6.64588,0.00000,0.0,1.0
2,1.519374,13.78900,2.41113,1.18880,72.7612,0.00000,9.76628,0.00000,0.0,1.0
3,1.518280,14.46065,2.24051,1.61894,72.3804,0.00000,9.26056,0.00000,0.0,1.0
4,1.518531,14.08825,2.19112,1.66067,72.6716,0.00000,9.32512,0.00000,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
345,1.516572,14.79980,0.00000,1.99130,73.1084,0.00000,8.28140,1.71045,0.0,0.0
346,1.517323,14.95275,0.00000,1.79870,72.9908,0.00000,8.61496,1.54980,0.0,0.0
347,1.516139,13.88210,1.77804,1.78907,73.0972,0.00000,8.66876,0.75915,0.0,0.0
348,1.515091,15.15225,0.00000,2.25131,73.5004,0.00000,8.33520,0.63000,0.0,0.0
349,1.522472,14.85965,2.20010,2.05871,70.2580,0.75762,9.75552,0.00000,0.0,0.0

In [247]:

from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=5)
x_b=balanced_df.drop(['Class'],axis='columns')
y_b=balanced_df.Class

In [248]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
model_b_s=SVC()

model_b_k=KNeighborsClassifier(n_neighbors=3)


model_b_d=DecisionTreeClassifier(random_state=0)

In [249]:
#precision
precision_s=[]
f1_s=[]
recall_s=[]
accuracy_s=[]
Auc_s=[]
Gmean_s=[]

precision_k=[]
f1_k=[]
recall_k=[]
accuracy_k=[]
Auc_k=[]
Gmean_k=[]

precision_d=[]
f1_d=[]
recall_d=[]
accuracy_d=[]
Auc_d=[]
Gmean_d=[]
for train_index_b,test_index_b in kf.split(x_b,y_b):
  x_train_b,x_test_b=x_b.iloc[train_index_b],x_b.iloc[test_index_b]
  y_train_b,y_test_b=y_b.iloc[train_index_b],y_b.iloc[test_index_b]
  model_b_s.fit(x_train_b,y_train_b)
  prediction_b_s = model_b_s.predict(x_test_b)

  model_b_k.fit(x_train_b,y_train_b)
  prediction_b_k = model_b_k.predict(x_test_b)

  model_b_d.fit(x_train_b,y_train_b)
  prediction_b_d = model_b_d.predict(x_test_b)

  precision_s.append(precision_score(y_test_b,prediction_b_s,average='weighted',labels=np.unique(prediction_b_s)))
  precision_k.append(precision_score(y_test_b,prediction_b_k,average='weighted',labels=np.unique(prediction_b_k)))
  precision_d.append(precision_score(y_test_b,prediction_b_d,average='weighted',labels=np.unique(prediction_b_d)))

  recall_s.append(recall_score(y_test_b,prediction_b_s,average='weighted',labels=np.unique(prediction_b_s)))
  recall_k.append(recall_score(y_test_b,prediction_b_k,average='weighted',labels=np.unique(prediction_b_k)))
  recall_d.append(recall_score(y_test_b,prediction_b_d,average='weighted',labels=np.unique(prediction_b_d)))

  f1_s.append(f1_score(y_test_b,prediction_b_s,average='weighted',labels=np.unique(prediction_b_s)))
  f1_k.append(f1_score(y_test_b,prediction_b_k,average='weighted',labels=np.unique(prediction_b_k)))
  f1_d.append(f1_score(y_test_b,prediction_b_d,average='weighted',labels=np.unique(prediction_b_d)))

  accuracy_s.append(accuracy_score(y_test_b,prediction_b_s))
  accuracy_k.append(accuracy_score(y_test_b,prediction_b_k))
  accuracy_d.append(accuracy_score(y_test_b,prediction_b_d))


  s_fpr_b,s_tpr_b,threshold_s_b=roc_curve(y_test_b,prediction_b_s)
  k_fpr_b,k_tpr_b,threshold_k_b=roc_curve(y_test_b,prediction_b_k)
  d_fpr_b,d_tpr_b,threshold_d_b=roc_curve(y_test_b,prediction_b_d)


  Auc_s.append(auc(s_fpr_b,s_tpr_b))
  Auc_k.append(auc(k_fpr_b,k_tpr_b))
  Auc_d.append(auc(d_fpr_b,d_tpr_b))


  Gmean_s.append(gmean(y_test_b,prediction_b_s))
  Gmean_k.append(gmean(y_test_b,prediction_b_k))
  Gmean_d.append(gmean(y_test_b,prediction_b_d))

print("-------SVM--------")
print("Gmean_SVM:",Gmean_s)
print("AUC_SVM:",Auc_s)
print("f1_SVM:",f1_s)
print("precision_SVM:",precision_s)
print("recall_SVM:",recall_s)

print("mean of Gmean_s:",stat.mean(Gmean_s))
print("mean of AUC_s:",stat.mean(Auc_s))
print("mean of f1_s:",stat.mean(f1_s))
print("mean of precision_s:",stat.mean(precision_s))
print("mean of recall_s:",stat.mean(recall_s))

print("standard deviation of Gmean_s:",stat.stdev(Gmean_s))
print("standard deviation of AUC_s:",stat.stdev(Auc_s))
print("standard deviation of f1_s:",stat.stdev(f1_s))
print("standard deviation of precision_s:",stat.stdev(precision_s))
print("standard deviation of recall_s:",stat.stdev(recall_s))

print("\n")
print("-------KNN--------")
print("Gmean_KNN:",Gmean_k)
print("AUC_KNN:",Auc_k)
print("f1_KNN:",f1_k)
print("precision_KNN:",precision_k)
print("recall_KNN:",recall_k)

print("mean of Gmean_k:",stat.mean(Gmean_k))
print("mean of AUC_k:",stat.mean(Auc_k))
print("mean of f1_k:",stat.mean(f1_k))
print("mean of precision_k:",stat.mean(precision_k))
print("mean of recall_k:",stat.mean(recall_k))

print("standard deviation of Gmean_k:",stat.stdev(Gmean_k))
print("standard deviation of AUC_k:",stat.stdev(Auc_k))
print("standard deviation of f1_k:",stat.stdev(f1_k))
print("standard deviation of precision_k:",stat.stdev(precision_k))
print("standard deviation of recall_k:",stat.stdev(recall_k))

print("\n")
print("-------DECISION TREE--------")
print("Gmean_DT:",Gmean_d)
print("AUC_DT:",Auc_d)
print("f1_DT:",f1_d)
print("precision_DT:",precision_d)
print("recall_DT:",recall_d)

print("mean of Gmean_d:",stat.mean(Gmean_d))
print("mean of AUC_d:",stat.mean(Auc_d))
print("mean of f1_d:",stat.mean(f1_d))
print("mean of precision_d:",stat.mean(precision_d))
print("mean of recall_d:",stat.mean(recall_d))

print("standard deviation of Gmean_d:",stat.stdev(Gmean_d))
print("standard deviation of AUC_d:",stat.stdev(Auc_d))
print("standard deviation of f1_d:",stat.stdev(f1_d))
print("standard deviation of precision_d:",stat.stdev(precision_d))
print("standard deviation of recall_d:",stat.stdev(recall_d))

-------SVM--------
Gmean_SVM: [0.741371966696184, 1.0, 1.0, 0.9429543474322821, 0.889836201038935]
AUC_SVM: [0.8428571428571429, 1.0, 1.0, 0.9714285714285714, 0.9428571428571428]
f1_SVM: [0.838878426449048, 1.0, 1.0, 0.9714052287581698, 0.9426699426699426]
precision_SVM: [0.8804347826086958, 1.0, 1.0, 0.9729729729729728, 0.9487179487179487]
recall_SVM: [0.8428571428571429, 1.0, 1.0, 0.9714285714285714, 0.9428571428571428]
mean of Gmean_s: 0.9148325030334802
mean of AUC_s: 0.9514285714285714
mean of f1_s: 0.9505907195754321
mean of precision_s: 0.9604251408599235
mean of recall_s: 0.9514285714285714
standard deviation of Gmean_s: 0.10725112585807632
standard deviation of AUC_s: 0.06515288143423646
standard deviation of f1_s: 0.06681723751960858
standard deviation of precision_s: 0.04956133271931843
standard deviation of recall_s: 0.06515288143423646


-------KNN--------
Gmean_KNN: [0.6976746028455771, 1.0, 0.971020665229009, 0.9158708775802432, 0.6404971814603486]
AUC_KNN: [0.8, 1.0, 0.9857142857142857, 0.9571428571428571, 0.6857142857142857]
f1_KNN: [0.7916666666666665, 1.0, 0.9857113696672789, 0.9570639950930282, 0.6512681159420289]
precision_KNN: [0.8571428571428571, 1.0, 0.986111111111111, 0.9605263157894736, 0.8070175438596491]
recall_KNN: [0.8, 1.0, 0.9857142857142858, 0.9571428571428572, 0.6857142857142857]
mean of Gmean_k: 0.8450126654230355
mean of AUC_k: 0.8857142857142857
mean of f1_k: 0.8771420294738005
mean of precision_k: 0.9221595655806182
mean of recall_k: 0.8857142857142858
standard deviation of Gmean_k: 0.1646625822622288
standard deviation of AUC_k: 0.13739560044050958
standard deviation of f1_k: 0.15132247486863457
standard deviation of precision_k: 0.085302107931162
standard deviation of recall_k: 0.1373956004405096


-------DECISION TREE--------
Gmean_DT: [0.6390499080498829, 0.9429543474322821, 1.0, 0.971020665229009, 0.6754233876317469]
AUC_DT: [0.6714285714285715, 0.9714285714285714, 1.0, 0.9857142857142857, 0.7714285714285715]
f1_DT: [0.6316632349576756, 0.9714052287581698, 1.0, 0.9857113696672789, 0.7588285960378983]
precision_DT: [0.8017241379310345, 0.9729729729729728, 1.0, 0.986111111111111, 0.8431372549019608]
recall_DT: [0.6714285714285714, 0.9714285714285714, 1.0, 0.9857142857142858, 0.7714285714285715]
mean of Gmean_d: 0.8456896616685842
mean of AUC_d: 0.88
mean of f1_d: 0.8695216858842045
mean of precision_d: 0.9207890953834158
mean of recall_d: 0.88
standard deviation of Gmean_d: 0.17368833575985684
standard deviation of AUC_d: 0.14935234329925856
standard deviation of f1_d: 0.16563098456927716
standard deviation of precision_d: 0.09147508219794537
standard deviation of recall_d: 0.14935234329925862

In [252]:
list=['glass016vs5',stat.mean(Auc_k),stat.stdev(Auc_k),stat.mean(Gmean_k),stat.stdev(Gmean_k),stat.mean(Auc_d),stat.stdev(Auc_d),stat.mean(Gmean_d),stat.stdev(Gmean_d),stat.mean(Auc_s),stat.stdev(Auc_s),stat.mean(Gmean_s),stat.stdev(Gmean_s)]
list

df_excel = pd.read_excel('/content/drive/MyDrive/pso_1.xlsx')
df_excel

,Unnamed: 0.1,KNN,Unnamed: 2,Unnamed: 3,Unnamed: 4,Decision Tree,Unnamed: 6,Unnamed: 7,Unnamed: 8,SVM,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN
1,Dataset,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev
2,ecoli0137vs26,0.959495,0.040136,0.92449,0.072456,0.959798,0.027859,0.923228,0.052104,0.946633,0.061364,0.905228,0.105836
3,shuttle0vs4,0.999414,0.000802,0.998826,0.001607,1.0,0.0,1.0,0.0,0.998828,0.000655,0.997651,0.001313
4,yeast1vs7,0.953475,0.075796,0.923035,0.116982,0.938317,0.063328,0.89309,0.093762,0.963953,0.080602,0.94367,0.125957
5,shuttle2vs4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
6,glass016vs2,0.925714,0.102718,0.885581,0.143202,0.885714,0.108327,0.827411,0.127491,0.591429,0.180871,0.723895,0.066047

In [253]:
df_excel.loc[len(df_excel)]=list
df_excel.to_excel('/content/drive/MyDrive/pso_1.xlsx')