In [305]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score
import numpy as np
import pandas as pd
import random
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve , auc
from sklearn.metrics.cluster import fowlkes_mallows_score as gmean
import statistics as stat

In [306]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [307]:
df=pd.read_csv('/content/drive/MyDrive/glass2.csv')
df

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe      Class
0    1.51673  13.30  3.64  1.53  72.53  0.65  8.03  0.00  0.29   negative
1    1.51750  12.82  3.55  1.49  72.75  0.54  8.52  0.00  0.19   negative
2    1.51775  12.85  3.48  1.23  72.97  0.61  8.56  0.09  0.22   negative
3    1.51646  13.41  3.55  1.25  72.81  0.68  8.10  0.00  0.00   negative
4    1.51761  12.81  3.54  1.23  73.24  0.58  8.39  0.00  0.00   negative
..       ...    ...   ...   ...    ...   ...   ...   ...   ...        ...
209  1.51934  13.64  3.54  0.75  72.65  0.16  8.89  0.15  0.24   positive
210  1.51851  13.20  3.63  1.07  72.83  0.57  8.41  0.09  0.17   negative
211  1.51631  13.34  3.57  1.57  72.87  0.61  7.89  0.00  0.00   negative
212  1.51711  12.89  3.62  1.57  72.96  0.61  8.11  0.00  0.00   negative
213  1.51789  13.19  3.90  1.30  72.33  0.55  8.44  0.00  0.28   negative

[214 rows x 10 columns]

In [308]:
df["Class"].value_counts()
class_label=df['Class']
class_label

0       negative
1       negative
2       negative
3       negative
4       negative
         ...
209     positive
210     negative
211     negative
212     negative
213     negative
Name: Class, Length: 214, dtype: object

In [309]:
label_encoder = LabelEncoder()
df["Class"] = label_encoder.fit_transform(df["Class"])
df.head()

        RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Class
0  1.51673  13.30  3.64  1.53  72.53  0.65  8.03  0.00  0.29      0
1  1.51750  12.82  3.55  1.49  72.75  0.54  8.52  0.00  0.19      0
2  1.51775  12.85  3.48  1.23  72.97  0.61  8.56  0.09  0.22      0
3  1.51646  13.41  3.55  1.25  72.81  0.68  8.10  0.00  0.00      0
4  1.51761  12.81  3.54  1.23  73.24  0.58  8.39  0.00  0.00      0

In [310]:
minor=df[df["Class"]==1]
major=df[df["Class"]==0]
minor=minor.drop(["Class"], axis=1)
minority=minor.to_numpy()
minor.shape
major.shape
diff=major.shape[0]-minor.shape[0]
r=diff
loop=diff/minor.shape[0]
if(diff%minor.shape[0]==0):
    iter=int(diff/minor.shape[0])
else:
  iter=int(diff/minor.shape[0])+1
minor.shape

(17, 9)

In [311]:
for id in range(r):
  if(diff>0):
    distances = np.linalg.norm(minority - minority[id], axis=1)  #calculating the distances to other instances
    k = 4
    nearest_neighbor_ids = distances.argsort()[:k] #finding 3 nearest neighbours n1,n2 and n3
    n1=minority[nearest_neighbor_ids[1]]
    n2=minority[nearest_neighbor_ids[2]]
    n3=minority[nearest_neighbor_ids[3]]
    r1=random.uniform(0,1)
    r2=random.uniform(0,1)
    w=random.uniform(0.5,1)
    velocity= w+r1*(n1-n3) + r2*(n1-n2)         #velocity vector
    new_minor=minority[id]+velocity             #position update
    d=minor.shape[1] 
    minB=minor.min().to_numpy()
    maxB=minor.max().to_numpy()
    for i in range(d):
      if(new_minor[i]<minB[i]):
        new_minor[i]=minB[i];
      if(new_minor[i]>maxB[i]):
        new_minor[i]=maxB[i];
    minority=np.append(minority,new_minor)
    minority=np.reshape(minority,(-1, minor.shape[1]))
    diff=diff-1

minority.shape

(197, 9)

In [312]:
df_minor = pd.DataFrame(minority, columns =['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe'])
df_minor

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe
0    1.51832  13.33  3.34  1.54  72.14  0.56  8.99  0.00  0.00
1    1.51796  13.50  3.36  1.63  71.94  0.57  8.81  0.00  0.09
2    1.51769  13.65  3.66  1.11  72.77  0.11  8.60  0.00  0.00
3    1.51776  13.53  3.41  1.52  72.04  0.58  8.79  0.00  0.00
4    1.51610  13.33  3.53  1.34  72.67  0.56  8.33  0.00  0.00
..       ...    ...   ...   ...    ...   ...   ...   ...   ...
192  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37
193  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37
194  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37
195  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37
196  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37

[197 rows x 9 columns]

In [313]:
dup=[]
for i in range(df_minor.shape[0]):
  dup.append(1)
Class=np.array(dup)
Class=np.reshape(Class,(-1,1))
df_minor_class=pd.DataFrame(Class,columns=['Class'])
df_minor['Class']=df_minor_class
df_minor

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Class
0    1.51832  13.33  3.34  1.54  72.14  0.56  8.99  0.00  0.00      1
1    1.51796  13.50  3.36  1.63  71.94  0.57  8.81  0.00  0.09      1
2    1.51769  13.65  3.66  1.11  72.77  0.11  8.60  0.00  0.00      1
3    1.51776  13.53  3.41  1.52  72.04  0.58  8.79  0.00  0.00      1
4    1.51610  13.33  3.53  1.34  72.67  0.56  8.33  0.00  0.00      1
..       ...    ...   ...   ...    ...   ...   ...   ...   ...    ...
192  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37      1
193  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37      1
194  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37      1
195  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37      1
196  1.52211  14.32  3.90  1.76  73.01  0.61  9.65  0.15  0.37      1

[197 rows x 10 columns]

In [314]:
majority=major.to_numpy()
majority=np.reshape(majority,(-1,major.shape[1]))
majority
df_major = pd.DataFrame(majority, columns = ['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Class'])
df_major

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Class
0    1.51673  13.30  3.64  1.53  72.53  0.65  8.03  0.00  0.29    0.0
1    1.51750  12.82  3.55  1.49  72.75  0.54  8.52  0.00  0.19    0.0
2    1.51775  12.85  3.48  1.23  72.97  0.61  8.56  0.09  0.22    0.0
3    1.51646  13.41  3.55  1.25  72.81  0.68  8.10  0.00  0.00    0.0
4    1.51761  12.81  3.54  1.23  73.24  0.58  8.39  0.00  0.00    0.0
..       ...    ...   ...   ...    ...   ...   ...   ...   ...    ...
192  1.51674  12.87  3.56  1.64  73.14  0.65  7.99  0.00  0.00    0.0
193  1.51851  13.20  3.63  1.07  72.83  0.57  8.41  0.09  0.17    0.0
194  1.51631  13.34  3.57  1.57  72.87  0.61  7.89  0.00  0.00    0.0
195  1.51711  12.89  3.62  1.57  72.96  0.61  8.11  0.00  0.00    0.0
196  1.51789  13.19  3.90  1.30  72.33  0.55  8.44  0.00  0.28    0.0

[197 rows x 10 columns]

In [315]:
balanced_df=pd.concat([df_minor,df_major],axis=0,ignore_index=True)
balanced_df

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Class
0    1.51832  13.33  3.34  1.54  72.14  0.56  8.99  0.00  0.00    1.0
1    1.51796  13.50  3.36  1.63  71.94  0.57  8.81  0.00  0.09    1.0
2    1.51769  13.65  3.66  1.11  72.77  0.11  8.60  0.00  0.00    1.0
3    1.51776  13.53  3.41  1.52  72.04  0.58  8.79  0.00  0.00    1.0
4    1.51610  13.33  3.53  1.34  72.67  0.56  8.33  0.00  0.00    1.0
..       ...    ...   ...   ...    ...   ...   ...   ...   ...    ...
389  1.51674  12.87  3.56  1.64  73.14  0.65  7.99  0.00  0.00    0.0
390  1.51851  13.20  3.63  1.07  72.83  0.57  8.41  0.09  0.17    0.0
391  1.51631  13.34  3.57  1.57  72.87  0.61  7.89  0.00  0.00    0.0
392  1.51711  12.89  3.62  1.57  72.96  0.61  8.11  0.00  0.00    0.0
393  1.51789  13.19  3.90  1.30  72.33  0.55  8.44  0.00  0.28    0.0

[394 rows x 10 columns]

In [316]:

from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=5)
x_b=balanced_df.drop(['Class'],axis='columns')
y_b=balanced_df.Class

In [317]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
model_b_s=SVC()

model_b_k=KNeighborsClassifier(n_neighbors=3)


model_b_d=DecisionTreeClassifier(random_state=0)

In [318]:
#precision
precision_s=[]
f1_s=[]
recall_s=[]
accuracy_s=[]
Auc_s=[]
Gmean_s=[]

precision_k=[]
f1_k=[]
recall_k=[]
accuracy_k=[]
Auc_k=[]
Gmean_k=[]

precision_d=[]
f1_d=[]
recall_d=[]
accuracy_d=[]
Auc_d=[]
Gmean_d=[]
for train_index_b,test_index_b in kf.split(x_b,y_b):
  x_train_b,x_test_b=x_b.iloc[train_index_b],x_b.iloc[test_index_b]
  y_train_b,y_test_b=y_b.iloc[train_index_b],y_b.iloc[test_index_b]
  model_b_s.fit(x_train_b,y_train_b)
  prediction_b_s = model_b_s.predict(x_test_b)

  model_b_k.fit(x_train_b,y_train_b)
  prediction_b_k = model_b_k.predict(x_test_b)

  model_b_d.fit(x_train_b,y_train_b)
  prediction_b_d = model_b_d.predict(x_test_b)

  precision_s.append(precision_score(y_test_b,prediction_b_s,average='weighted',labels=np.unique(prediction_b_s)))
  precision_k.append(precision_score(y_test_b,prediction_b_k,average='weighted',labels=np.unique(prediction_b_k)))
  precision_d.append(precision_score(y_test_b,prediction_b_d,average='weighted',labels=np.unique(prediction_b_d)))

  recall_s.append(recall_score(y_test_b,prediction_b_s,average='weighted',labels=np.unique(prediction_b_s)))
  recall_k.append(recall_score(y_test_b,prediction_b_k,average='weighted',labels=np.unique(prediction_b_k)))
  recall_d.append(recall_score(y_test_b,prediction_b_d,average='weighted',labels=np.unique(prediction_b_d)))

  f1_s.append(f1_score(y_test_b,prediction_b_s,average='weighted',labels=np.unique(prediction_b_s)))
  f1_k.append(f1_score(y_test_b,prediction_b_k,average='weighted',labels=np.unique(prediction_b_k)))
  f1_d.append(f1_score(y_test_b,prediction_b_d,average='weighted',labels=np.unique(prediction_b_d)))

  accuracy_s.append(accuracy_score(y_test_b,prediction_b_s))
  accuracy_k.append(accuracy_score(y_test_b,prediction_b_k))
  accuracy_d.append(accuracy_score(y_test_b,prediction_b_d))


  s_fpr_b,s_tpr_b,threshold_s_b=roc_curve(y_test_b,prediction_b_s)
  k_fpr_b,k_tpr_b,threshold_k_b=roc_curve(y_test_b,prediction_b_k)
  d_fpr_b,d_tpr_b,threshold_d_b=roc_curve(y_test_b,prediction_b_d)


  Auc_s.append(auc(s_fpr_b,s_tpr_b))
  Auc_k.append(auc(k_fpr_b,k_tpr_b))
  Auc_d.append(auc(d_fpr_b,d_tpr_b))


  Gmean_s.append(gmean(y_test_b,prediction_b_s))
  Gmean_k.append(gmean(y_test_b,prediction_b_k))
  Gmean_d.append(gmean(y_test_b,prediction_b_d))

print("-------SVM--------")
print("Gmean_SVM:",Gmean_s)
print("AUC_SVM:",Auc_s)
print("f1_SVM:",f1_s)
print("precision_SVM:",precision_s)
print("recall_SVM:",recall_s)

print("mean of Gmean_s:",stat.mean(Gmean_s))
print("mean of AUC_s:",stat.mean(Auc_s))
print("mean of f1_s:",stat.mean(f1_s))
print("mean of precision_s:",stat.mean(precision_s))
print("mean of recall_s:",stat.mean(recall_s))

print("standard deviation of Gmean_s:",stat.stdev(Gmean_s))
print("standard deviation of AUC_s:",stat.stdev(Auc_s))
print("standard deviation of f1_s:",stat.stdev(f1_s))
print("standard deviation of precision_s:",stat.stdev(precision_s))
print("standard deviation of recall_s:",stat.stdev(recall_s))

print("\n")
print("-------KNN--------")
print("Gmean_KNN:",Gmean_k)
print("AUC_KNN:",Auc_k)
print("f1_KNN:",f1_k)
print("precision_KNN:",precision_k)
print("recall_KNN:",recall_k)

print("mean of Gmean_k:",stat.mean(Gmean_k))
print("mean of AUC_k:",stat.mean(Auc_k))
print("mean of f1_k:",stat.mean(f1_k))
print("mean of precision_k:",stat.mean(precision_k))
print("mean of recall_k:",stat.mean(recall_k))

print("standard deviation of Gmean_k:",stat.stdev(Gmean_k))
print("standard deviation of AUC_k:",stat.stdev(Auc_k))
print("standard deviation of f1_k:",stat.stdev(f1_k))
print("standard deviation of precision_k:",stat.stdev(precision_k))
print("standard deviation of recall_k:",stat.stdev(recall_k))

print("\n")
print("-------DECISION TREE--------")
print("Gmean_DT:",Gmean_d)
print("AUC_DT:",Auc_d)
print("f1_DT:",f1_d)
print("precision_DT:",precision_d)
print("recall_DT:",recall_d)

print("mean of Gmean_d:",stat.mean(Gmean_d))
print("mean of AUC_d:",stat.mean(Auc_d))
print("mean of f1_d:",stat.mean(f1_d))
print("mean of precision_d:",stat.mean(precision_d))
print("mean of recall_d:",stat.mean(recall_d))

print("standard deviation of Gmean_d:",stat.stdev(Gmean_d))
print("standard deviation of AUC_d:",stat.stdev(Auc_d))
print("standard deviation of f1_d:",stat.stdev(f1_d))
print("standard deviation of precision_d:",stat.stdev(precision_d))
print("standard deviation of recall_d:",stat.stdev(recall_d))

-------SVM--------
Gmean_SVM: [0.7026171689305275, 0.7026171689305275, 0.7026171689305275, 0.7026171689305275, 0.6450711802771733]
AUC_SVM: [0.5, 0.5, 0.5, 0.5, 0.6153846153846154]
f1_SVM: [0.6610169491525424, 0.6610169491525424, 0.6610169491525424, 0.6610169491525424, 0.5486111111111112]
precision_SVM: [0.4936708860759494, 0.4936708860759494, 0.4936708860759494, 0.4936708860759494, 0.7826086956521738]
recall_SVM: [1.0, 1.0, 1.0, 1.0, 0.6153846153846154]
mean of Gmean_s: 0.6911079711998567
mean of AUC_s: 0.5230769230769231
mean of f1_s: 0.6385357815442562
mean of precision_s: 0.5514584479911943
mean of recall_s: 0.9230769230769231
standard deviation of Gmean_s: 0.025735348492266337
standard deviation of AUC_s: 0.051601568711533624
standard deviation of f1_s: 0.050269418985694404
standard deviation of precision_s: 0.1292169166964655
standard deviation of recall_s: 0.17200522903844534


-------KNN--------
Gmean_KNN: [0.6592497095655251, 0.949476905233763, 0.9743589743589743, 0.9017751342523377, 0.9487879236458927]
AUC_KNN: [0.75, 0.9743589743589743, 0.9874999999999999, 0.9500000000000001, 0.9743589743589743]
f1_KNN: [0.73047446826832, 0.9746591703092247, 0.9873417721518988, 0.9492695926293041, 0.9743421052631578]
precision_KNN: [0.832653936923407, 0.9758890898131405, 0.9876582278481013, 0.9540771268766559, 0.975609756097561]
recall_KNN: [0.7468354430379747, 0.9746835443037974, 0.9873417721518988, 0.9493670886075949, 0.9743589743589743]
mean of Gmean_k: 0.8867297294112986
mean of AUC_k: 0.9272435897435898
mean of f1_k: 0.923217421724381
mean of precision_k: 0.9451776275117731
mean of recall_k: 0.926517364492048
standard deviation of Gmean_k: 0.12984686726228506
standard deviation of AUC_k: 0.1000046226742195
standard deviation of f1_k: 0.10862835817361652
standard deviation of precision_k: 0.06405991688344786
standard deviation of recall_k: 0.101385541214062


-------DECISION TREE--------
Gmean_DT: [0.6842639997856721, 0.9020440624584539, 0.9251986429713932, 0.9494088777235199, 0.9740304095294136]
AUC_DT: [0.7875, 0.9487179487179488, 0.9625, 0.975, 0.9871794871794871]
f1_DT: [0.7750304030117489, 0.9492041770522783, 0.961988784773595, 0.9746754300551769, 0.9871773795824427]
precision_DT: [0.850135623869801, 0.953970080552359, 0.964737793851718, 0.9759184933621488, 0.9875]
recall_DT: [0.7848101265822784, 0.9493670886075949, 0.9620253164556962, 0.9746835443037974, 0.9871794871794872]
mean of Gmean_d: 0.8869891984936905
mean of AUC_d: 0.9321794871794872
mean of f1_d: 0.9296152348950484
mean of precision_d: 0.9464523983272054
mean of recall_d: 0.9316131126257708
standard deviation of Gmean_d: 0.116465129482195
standard deviation of AUC_d: 0.08213343493439373
standard deviation of f1_d: 0.08756721036416457
standard deviation of precision_d: 0.055274199761510545
standard deviation of recall_d: 0.08326750053624973

In [322]:
list=['glass2',stat.mean(Auc_k),stat.stdev(Auc_k),stat.mean(Gmean_k),stat.stdev(Gmean_k),stat.mean(Auc_d),stat.stdev(Auc_d),stat.mean(Gmean_d),stat.stdev(Gmean_d),stat.mean(Auc_s),stat.stdev(Auc_s),stat.mean(Gmean_s),stat.stdev(Gmean_s)]
list

df_excel = pd.read_excel('/content/drive/MyDrive/pso_1.xlsx')
df_excel

,Unnamed: 0.1,KNN,Unnamed: 2,Unnamed: 3,Unnamed: 4,Decision Tree,Unnamed: 6,Unnamed: 7,Unnamed: 8,SVM,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN
1,Dataset,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev
2,ecoli0137vs26,0.959495,0.040136,0.92449,0.072456,0.959798,0.027859,0.923228,0.052104,0.946633,0.061364,0.905228,0.105836
3,shuttle0vs4,0.999414,0.000802,0.998826,0.001607,1.0,0.0,1.0,0.0,0.998828,0.000655,0.997651,0.001313
4,yeast1vs7,0.953475,0.075796,0.923035,0.116982,0.938317,0.063328,0.89309,0.093762,0.963953,0.080602,0.94367,0.125957
5,shuttle2vs4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
6,glass016vs2,0.925714,0.102718,0.885581,0.143202,0.885714,0.108327,0.827411,0.127491,0.591429,0.180871,0.723895,0.066047
7,glass016vs5,0.885714,0.137396,0.845013,0.164663,0.88,0.149352,0.84569,0.173688,0.951429,0.065153,0.914833,0.107251
8,pageblocks13vs4,0.921157,0.041699,0.858736,0.064528,0.966279,0.052842,0.939967,0.090831,0.781563,0.023842,0.673539,0.031343
9,yeast05679vs4,0.90693,0.11329,0.863197,0.148454,0.889167,0.098387,0.829291,0.128517,0.920559,0.118654,0.887151,0.160135
10,yeast1289vs7,0.978237,0.035746,0.959557,0.064986,0.964615,0.027164,0.932908,0.048504,0.983149,0.03768,0.969282,0.068688
11,yeast1458vs7,0.963876,0.043629,0.933951,0.074594,0.928446,0.035745,0.870281,0.05924,0.974436,0.051092,0.955008,0.088538
12,yeast2vs4,0.941912,0.120829,0.924774,0.150056,0.928927,0.111393,0.897887,0.136399,0.942987,0.121499,0.926973,0.151501
13,yeast4,0.976644,0.0368,0.956926,0.065683,0.967568,0.03255,0.939284,0.057545,0.98188,0.039547,0.967332,0.071108
14,vowel0,0.858166,0.093864,0.787635,0.107438,0.868818,0.150834,0.835322,0.163618,0.901605,0.102867,0.850971,0.125853
15,yeast2vs8,0.988172,0.026448,0.977536,0.05023,0.960075,0.037523,0.925454,0.066287,0.982796,0.03847,0.968516,0.0704
16,glass4,0.888841,0.135252,0.847573,0.174202,0.873902,0.156211,0.842538,0.182132,0.921707,0.147911,0.90769,0.154431
17,glass5,0.897561,0.125734,0.8548,0.166752,0.907317,0.125141,0.86896,0.169798,0.963415,0.081807,0.942948,0.127572

In [323]:
df_excel.loc[len(df_excel)]=list
df_excel.to_excel('/content/drive/MyDrive/pso_1.xlsx')
df_excel

,Unnamed: 0.1,KNN,Unnamed: 2,Unnamed: 3,Unnamed: 4,Decision Tree,Unnamed: 6,Unnamed: 7,Unnamed: 8,SVM,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN
1,Dataset,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev
2,ecoli0137vs26,0.959495,0.040136,0.92449,0.072456,0.959798,0.027859,0.923228,0.052104,0.946633,0.061364,0.905228,0.105836
3,shuttle0vs4,0.999414,0.000802,0.998826,0.001607,1.0,0.0,1.0,0.0,0.998828,0.000655,0.997651,0.001313
4,yeast1vs7,0.953475,0.075796,0.923035,0.116982,0.938317,0.063328,0.89309,0.093762,0.963953,0.080602,0.94367,0.125957
5,shuttle2vs4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
6,glass016vs2,0.925714,0.102718,0.885581,0.143202,0.885714,0.108327,0.827411,0.127491,0.591429,0.180871,0.723895,0.066047
7,glass016vs5,0.885714,0.137396,0.845013,0.164663,0.88,0.149352,0.84569,0.173688,0.951429,0.065153,0.914833,0.107251
8,pageblocks13vs4,0.921157,0.041699,0.858736,0.064528,0.966279,0.052842,0.939967,0.090831,0.781563,0.023842,0.673539,0.031343
9,yeast05679vs4,0.90693,0.11329,0.863197,0.148454,0.889167,0.098387,0.829291,0.128517,0.920559,0.118654,0.887151,0.160135
10,yeast1289vs7,0.978237,0.035746,0.959557,0.064986,0.964615,0.027164,0.932908,0.048504,0.983149,0.03768,0.969282,0.068688
11,yeast1458vs7,0.963876,0.043629,0.933951,0.074594,0.928446,0.035745,0.870281,0.05924,0.974436,0.051092,0.955008,0.088538
12,yeast2vs4,0.941912,0.120829,0.924774,0.150056,0.928927,0.111393,0.897887,0.136399,0.942987,0.121499,0.926973,0.151501
13,yeast4,0.976644,0.0368,0.956926,0.065683,0.967568,0.03255,0.939284,0.057545,0.98188,0.039547,0.967332,0.071108
14,vowel0,0.858166,0.093864,0.787635,0.107438,0.868818,0.150834,0.835322,0.163618,0.901605,0.102867,0.850971,0.125853
15,yeast2vs8,0.988172,0.026448,0.977536,0.05023,0.960075,0.037523,0.925454,0.066287,0.982796,0.03847,0.968516,0.0704
16,glass4,0.888841,0.135252,0.847573,0.174202,0.873902,0.156211,0.842538,0.182132,0.921707,0.147911,0.90769,0.154431
17,glass5,0.897561,0.125734,0.8548,0.166752,0.907317,0.125141,0.86896,0.169798,0.963415,0.081807,0.942948,0.127572
18,glass2,0.927244,0.100005,0.88673,0.129847,0.932179,0.082133,0.886989,0.116465,0.523077,0.051602,0.691108,0.025735