In [353]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score
import numpy as np
import pandas as pd
import random
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve , auc
from sklearn.metrics.cluster import fowlkes_mallows_score as gmean
import statistics as stat

In [354]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [355]:
df=pd.read_csv('/content/drive/MyDrive/ecoli-0-1_vs_2-3-5.csv')
df

      Mcg   Gvh   Lip   Chg   Aac   Alm1   Alm2     Class
0    49.0  29.0  48.0   5.0  56.0   24.0   35.0  negative
1     7.0   4.0  48.0   5.0  54.0   35.0   44.0  negative
2    56.0   4.0  48.0   5.0  49.0   37.0   46.0  negative
3    59.0  49.0  48.0   5.0  52.0   45.0   36.0  negative
4    23.0  32.0  48.0   5.0  55.0   25.0   35.0  negative
..    ...   ...   ...   ...   ...    ...    ...       ...
239   6.0  76.0   1.0   5.0  77.0   59.0   52.0  positive
240  69.0  59.0  48.0   5.0  77.0   39.0   21.0  positive
241  63.0  49.0  48.0   5.0  79.0   45.0   28.0  positive
242  71.0  71.0  48.0   5.0  68.0   43.0   36.0  positive
243  68.0  63.0  48.0   5.0  73.0    4.0    3.0  positive

[244 rows x 8 columns]

In [356]:
df["Class"].value_counts()
class_label=df['Class']
class_label

0      negative
1      negative
2      negative
3      negative
4      negative
         ...
239    positive
240    positive
241    positive
242    positive
243    positive
Name: Class, Length: 244, dtype: object

In [357]:
label_encoder = LabelEncoder()
df["Class"] = label_encoder.fit_transform(df["Class"])
df.head()

    Mcg   Gvh   Lip   Chg   Aac   Alm1   Alm2  Class
0  49.0  29.0  48.0   5.0  56.0   24.0   35.0      0
1   7.0   4.0  48.0   5.0  54.0   35.0   44.0      0
2  56.0   4.0  48.0   5.0  49.0   37.0   46.0      0
3  59.0  49.0  48.0   5.0  52.0   45.0   36.0      0
4  23.0  32.0  48.0   5.0  55.0   25.0   35.0      0

In [358]:
minor=df[df["Class"]==1]
major=df[df["Class"]==0]
minor=minor.drop(["Class"], axis=1)
minority=minor.to_numpy()
minor.shape
major.shape
diff=major.shape[0]-minor.shape[0]
r=diff
loop=diff/minor.shape[0]
if(diff%minor.shape[0]==0):
    iter=int(diff/minor.shape[0])
else:
  iter=int(diff/minor.shape[0])+1
minor.shape

(24, 7)

In [359]:
for id in range(r):
  if(diff>0):
    distances = np.linalg.norm(minority - minority[id], axis=1)  #calculating the distances to other instances
    k = 4
    nearest_neighbor_ids = distances.argsort()[:k] #finding 3 nearest neighbours n1,n2 and n3
    n1=minority[nearest_neighbor_ids[1]]
    n2=minority[nearest_neighbor_ids[2]]
    n3=minority[nearest_neighbor_ids[3]]
    r1=random.uniform(0,1)
    r2=random.uniform(0,1)
    w=random.uniform(0.5,1)
    velocity= w+r1*(n1-n3) + r2*(n1-n2)         #velocity vector
    new_minor=minority[id]+velocity             #position update
    d=minor.shape[1] 
    minB=minor.min().to_numpy()
    maxB=minor.max().to_numpy()
    for i in range(d):
      if(new_minor[i]<minB[i]):
        new_minor[i]=minB[i];
      if(new_minor[i]>maxB[i]):
        new_minor[i]=maxB[i];
    minority=np.append(minority,new_minor)
    minority=np.reshape(minority,(-1, minor.shape[1]))
    diff=diff-1

minority.shape

(220, 7)

In [360]:
df_minor = pd.DataFrame(minority, columns =['Mcg','Gvh','Lip','Chg','Aac','Alm1','Alm2'])
df_minor

          Mcg        Gvh        Lip  Chg        Aac       Alm1       Alm2
0    85.00000  53.000000  48.000000  5.0  53.000000  52.000000  35.000000
1    63.00000  49.000000  48.000000  5.0  54.000000  76.000000  79.000000
2    75.00000  55.000000   1.000000  1.0   4.000000  47.000000   3.000000
3     7.00000  39.000000   1.000000  5.0  51.000000  82.000000  84.000000
4    78.00000  68.000000  48.000000  5.0  83.000000   4.000000  29.000000
..        ...        ...        ...  ...        ...        ...        ...
215  85.00000   9.859245  48.000000  5.0  88.000000   6.162904   3.298249
216  85.00000  37.055551  48.000000  5.0  38.549727  82.000000  68.220141
217   6.00000  49.941847  48.000000  5.0  66.270935  82.000000  84.000000
218  85.00000  35.144556  11.772497  5.0  15.110927  82.000000  19.615077
219  17.67986  80.420429  13.494300  5.0  79.517468  53.178471  78.448081

[220 rows x 7 columns]

In [361]:
dup=[]
for i in range(df_minor.shape[0]):
  dup.append(1)
Class=np.array(dup)
Class=np.reshape(Class,(-1,1))
df_minor_class=pd.DataFrame(Class,columns=['Class'])
df_minor['Class']=df_minor_class
df_minor

,Mcg,Gvh,Lip,Chg,Aac,Alm1,Alm2,Class
0,85.00000,53.000000,48.000000,5.0,53.000000,52.000000,35.000000,1
1,63.00000,49.000000,48.000000,5.0,54.000000,76.000000,79.000000,1
2,75.00000,55.000000,1.000000,1.0,4.000000,47.000000,3.000000,1
3,7.00000,39.000000,1.000000,5.0,51.000000,82.000000,84.000000,1
4,78.00000,68.000000,48.000000,5.0,83.000000,4.000000,29.000000,1
...,...,...,...,...,...,...,...,...
215,85.00000,9.859245,48.000000,5.0,88.000000,6.162904,3.298249,1
216,85.00000,37.055551,48.000000,5.0,38.549727,82.000000,68.220141,1
217,6.00000,49.941847,48.000000,5.0,66.270935,82.000000,84.000000,1
218,85.00000,35.144556,11.772497,5.0,15.110927,82.000000,19.615077,1
219,17.67986,80.420429,13.494300,5.0,79.517468,53.178471,78.448081,1

In [362]:
majority=major.to_numpy()
majority=np.reshape(majority,(-1,major.shape[1]))
majority
df_major = pd.DataFrame(majority, columns = ['Mcg','Gvh','Lip','Chg','Aac','Alm1','Alm2','Class'])
df_major

      Mcg   Gvh   Lip  Chg   Aac  Alm1  Alm2  Class
0    49.0  29.0  48.0  5.0  56.0  24.0  35.0    0.0
1     7.0   4.0  48.0  5.0  54.0  35.0  44.0    0.0
2    56.0   4.0  48.0  5.0  49.0  37.0  46.0    0.0
3    59.0  49.0  48.0  5.0  52.0  45.0  36.0    0.0
4    23.0  32.0  48.0  5.0  55.0  25.0  35.0    0.0
..    ...   ...   ...  ...   ...   ...   ...    ...
215   1.0  49.0  48.0  5.0  41.0  67.0  21.0    0.0
216   3.0  51.0  48.0  5.0  42.0  61.0  34.0    0.0
217  61.0  47.0  48.0  5.0   0.0   8.0  32.0    0.0
218  63.0  75.0  48.0  5.0  64.0  73.0  66.0    0.0
219  71.0  52.0  48.0  5.0  64.0   1.0  99.0    0.0

[220 rows x 8 columns]

In [363]:
balanced_df=pd.concat([df_minor,df_major],axis=0,ignore_index=True)
balanced_df

      Mcg   Gvh   Lip  Chg   Aac  Alm1  Alm2  Class
0    85.0  53.0  48.0  5.0  53.0  52.0  35.0    1.0
1    63.0  49.0  48.0  5.0  54.0  76.0  79.0    1.0
2    75.0  55.0   1.0  1.0   4.0  47.0   3.0    1.0
3     7.0  39.0   1.0  5.0  51.0  82.0  84.0    1.0
4    78.0  68.0  48.0  5.0  83.0   4.0  29.0    1.0
..    ...   ...   ...  ...   ...   ...   ...    ...
435   1.0  49.0  48.0  5.0  41.0  67.0  21.0    0.0
436   3.0  51.0  48.0  5.0  42.0  61.0  34.0    0.0
437  61.0  47.0  48.0  5.0   0.0   8.0  32.0    0.0
438  63.0  75.0  48.0  5.0  64.0  73.0  66.0    0.0
439  71.0  52.0  48.0  5.0  64.0   1.0  99.0    0.0

[440 rows x 8 columns]

In [364]:

from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=5)
x_b=balanced_df.drop(['Class'],axis='columns')
y_b=balanced_df.Class

In [365]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
model_b_s=SVC()

model_b_k=KNeighborsClassifier(n_neighbors=3)


model_b_d=DecisionTreeClassifier(random_state=0)

In [366]:
#precision
precision_s=[]
f1_s=[]
recall_s=[]
accuracy_s=[]
Auc_s=[]
Gmean_s=[]

precision_k=[]
f1_k=[]
recall_k=[]
accuracy_k=[]
Auc_k=[]
Gmean_k=[]

precision_d=[]
f1_d=[]
recall_d=[]
accuracy_d=[]
Auc_d=[]
Gmean_d=[]
for train_index_b,test_index_b in kf.split(x_b,y_b):
  x_train_b,x_test_b=x_b.iloc[train_index_b],x_b.iloc[test_index_b]
  y_train_b,y_test_b=y_b.iloc[train_index_b],y_b.iloc[test_index_b]
  model_b_s.fit(x_train_b,y_train_b)
  prediction_b_s = model_b_s.predict(x_test_b)

  model_b_k.fit(x_train_b,y_train_b)
  prediction_b_k = model_b_k.predict(x_test_b)

  model_b_d.fit(x_train_b,y_train_b)
  prediction_b_d = model_b_d.predict(x_test_b)

  precision_s.append(precision_score(y_test_b,prediction_b_s))
  precision_k.append(precision_score(y_test_b,prediction_b_k))
  precision_d.append(precision_score(y_test_b,prediction_b_d))

  recall_s.append(recall_score(y_test_b,prediction_b_s))
  recall_k.append(recall_score(y_test_b,prediction_b_k))
  recall_d.append(recall_score(y_test_b,prediction_b_d))

  f1_s.append(f1_score(y_test_b,prediction_b_s))
  f1_k.append(f1_score(y_test_b,prediction_b_k))
  f1_d.append(f1_score(y_test_b,prediction_b_d))

  accuracy_s.append(accuracy_score(y_test_b,prediction_b_s))
  accuracy_k.append(accuracy_score(y_test_b,prediction_b_k))
  accuracy_d.append(accuracy_score(y_test_b,prediction_b_d))


  s_fpr_b,s_tpr_b,threshold_s_b=roc_curve(y_test_b,prediction_b_s)
  k_fpr_b,k_tpr_b,threshold_k_b=roc_curve(y_test_b,prediction_b_k)
  d_fpr_b,d_tpr_b,threshold_d_b=roc_curve(y_test_b,prediction_b_d)


  Auc_s.append(auc(s_fpr_b,s_tpr_b))
  Auc_k.append(auc(k_fpr_b,k_tpr_b))
  Auc_d.append(auc(d_fpr_b,d_tpr_b))


  Gmean_s.append(gmean(y_test_b,prediction_b_s))
  Gmean_k.append(gmean(y_test_b,prediction_b_k))
  Gmean_d.append(gmean(y_test_b,prediction_b_d))


print("-------SVM--------")
print("Gmean_SVM:",Gmean_s)
print("AUC_SVM:",Auc_s)
print("f1_SVM:",f1_s)
print("precision_SVM:",precision_s)
print("recall_SVM:",recall_s)

print("mean of Gmean_s:",stat.mean(Gmean_s))
print("mean of AUC_s:",stat.mean(Auc_s))
print("mean of f1_s:",stat.mean(f1_s))
print("mean of precision_s:",stat.mean(precision_s))
print("mean of recall_s:",stat.mean(recall_s))

print("standard deviation of Gmean_s:",stat.stdev(Gmean_s))
print("standard deviation of AUC_s:",stat.stdev(Auc_s))
print("standard deviation of f1_s:",stat.stdev(f1_s))
print("standard deviation of precision_s:",stat.stdev(precision_s))
print("standard deviation of recall_s:",stat.stdev(recall_s))

print("\n")
print("-------KNN--------")
print("Gmean_KNN:",Gmean_k)
print("AUC_KNN:",Auc_k)
print("f1_KNN:",f1_k)
print("precision_KNN:",precision_k)
print("recall_KNN:",recall_k)

print("mean of Gmean_k:",stat.mean(Gmean_k))
print("mean of AUC_k:",stat.mean(Auc_k))
print("mean of f1_k:",stat.mean(f1_k))
print("mean of precision_k:",stat.mean(precision_k))
print("mean of recall_k:",stat.mean(recall_k))

print("standard deviation of Gmean_k:",stat.stdev(Gmean_k))
print("standard deviation of AUC_k:",stat.stdev(Auc_k))
print("standard deviation of f1_k:",stat.stdev(f1_k))
print("standard deviation of precision_k:",stat.stdev(precision_k))
print("standard deviation of recall_k:",stat.stdev(recall_k))

print("\n")
print("-------DECISION TREE--------")
print("Gmean_DT:",Gmean_d)
print("AUC_DT:",Auc_d)
print("f1_DT:",f1_d)
print("precision_DT:",precision_d)
print("recall_DT:",recall_d)

print("mean of Gmean_d:",stat.mean(Gmean_d))
print("mean of AUC_d:",stat.mean(Auc_d))
print("mean of f1_d:",stat.mean(f1_d))
print("mean of precision_d:",stat.mean(precision_d))
print("mean of recall_d:",stat.mean(recall_d))

print("standard deviation of Gmean_d:",stat.stdev(Gmean_d))
print("standard deviation of AUC_d:",stat.stdev(Auc_d))
print("standard deviation of f1_d:",stat.stdev(f1_d))
print("standard deviation of precision_d:",stat.stdev(precision_d))
print("standard deviation of recall_d:",stat.stdev(recall_d))

-------SVM--------
Gmean_SVM: [0.9545939852266488, 0.9545939852266488, 0.9112050739957717, 0.8505164991977536, 0.8315863188033643]
AUC_SVM: [0.9772727272727273, 0.9772727272727273, 0.9545454545454546, 0.9204545454545455, 0.9090909090909092]
f1_SVM: [0.9767441860465117, 0.9767441860465117, 0.9545454545454546, 0.9230769230769231, 0.9130434782608695]
precision_SVM: [1.0, 1.0, 0.9545454545454546, 0.8936170212765957, 0.875]
recall_SVM: [0.9545454545454546, 0.9545454545454546, 0.9545454545454546, 0.9545454545454546, 0.9545454545454546]
mean of Gmean_s: 0.9004991724900374
mean of AUC_s: 0.9477272727272728
mean of f1_s: 0.9488308455952541
mean of precision_s: 0.9446324951644101
mean of recall_s: 0.9545454545454546
standard deviation of Gmean_s: 0.057476871195622226
standard deviation of AUC_s: 0.03173690919038393
standard deviation of f1_s: 0.029727790413835466
standard deviation of precision_s: 0.058482157334413226
standard deviation of recall_s: 0.0


-------KNN--------
Gmean_KNN: [0.9545939852266488, 0.9545939852266488, 0.9112050739957717, 0.8337951655237221, 0.8337951655237221]
AUC_KNN: [0.9772727272727273, 0.9772727272727273, 0.9545454545454546, 0.9090909090909091, 0.9090909090909091]
f1_KNN: [0.9767441860465117, 0.9767441860465117, 0.9545454545454546, 0.9166666666666666, 0.9166666666666666]
precision_KNN: [1.0, 1.0, 0.9545454545454546, 0.8461538461538461, 0.8461538461538461]
recall_KNN: [0.9545454545454546, 0.9545454545454546, 0.9545454545454546, 1.0, 1.0]
mean of Gmean_k: 0.8975966750993027
mean of AUC_k: 0.9454545454545454
mean of f1_k: 0.9482734319943622
mean of precision_k: 0.9293706293706294
mean of recall_k: 0.9727272727272728
standard deviation of Gmean_k: 0.0608765974991149
standard deviation of AUC_k: 0.03446761565477981
standard deviation of f1_k: 0.03024268989540044
standard deviation of precision_k: 0.07819983029310743
standard deviation of recall_k: 0.02489647988659844


-------DECISION TREE--------
Gmean_DT: [0.8511603654771884, 0.8910667120387346, 0.8903567021443792, 0.7506805632987917, 0.7125383195265544]
AUC_DT: [0.9204545454545455, 0.9431818181818181, 0.9431818181818182, 0.8522727272727273, 0.8295454545454545]
f1_DT: [0.9156626506024097, 0.9397590361445783, 0.9438202247191012, 0.8686868686868686, 0.8387096774193548]
precision_DT: [0.9743589743589743, 1.0, 0.9333333333333333, 0.7818181818181819, 0.7959183673469388]
recall_DT: [0.8636363636363636, 0.8863636363636364, 0.9545454545454546, 0.9772727272727273, 0.8863636363636364]
mean of Gmean_d: 0.8191605324971297
mean of AUC_d: 0.8977272727272727
mean of f1_d: 0.9013276915144626
mean of precision_d: 0.8970857713714857
mean of recall_d: 0.9136363636363637
standard deviation of Gmean_d: 0.08264560638595546
standard deviation of AUC_d: 0.05330017908890263
standard deviation of f1_d: 0.04602856092785398
standard deviation of precision_d: 0.10173228708333033
standard deviation of recall_d: 0.049271553156088194

In [367]:
list=['ecoli01vs235',stat.mean(Auc_k),stat.stdev(Auc_k),stat.mean(Gmean_k),stat.stdev(Gmean_k),stat.mean(Auc_d),stat.stdev(Auc_d),stat.mean(Gmean_d),stat.stdev(Gmean_d),stat.mean(Auc_s),stat.stdev(Auc_s),stat.mean(Gmean_s),stat.stdev(Gmean_s)]
list

df_excel = pd.read_excel('/content/drive/MyDrive/pso_1.xlsx')
df_excel

,Unnamed: 0.1,KNN,Unnamed: 2,Unnamed: 3,Unnamed: 4,Decision Tree,Unnamed: 6,Unnamed: 7,Unnamed: 8,SVM,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN
1,Dataset,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev
2,ecoli0137vs26,0.959495,0.040136,0.92449,0.072456,0.959798,0.027859,0.923228,0.052104,0.946633,0.061364,0.905228,0.105836
3,shuttle0vs4,0.999414,0.000802,0.998826,0.001607,1.0,0.0,1.0,0.0,0.998828,0.000655,0.997651,0.001313
4,yeast1vs7,0.953475,0.075796,0.923035,0.116982,0.938317,0.063328,0.89309,0.093762,0.963953,0.080602,0.94367,0.125957
5,shuttle2vs4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
6,glass016vs2,0.925714,0.102718,0.885581,0.143202,0.885714,0.108327,0.827411,0.127491,0.591429,0.180871,0.723895,0.066047
7,glass016vs5,0.885714,0.137396,0.845013,0.164663,0.88,0.149352,0.84569,0.173688,0.951429,0.065153,0.914833,0.107251
8,pageblocks13vs4,0.921157,0.041699,0.858736,0.064528,0.966279,0.052842,0.939967,0.090831,0.781563,0.023842,0.673539,0.031343
9,yeast05679vs4,0.90693,0.11329,0.863197,0.148454,0.889167,0.098387,0.829291,0.128517,0.920559,0.118654,0.887151,0.160135
10,yeast1289vs7,0.978237,0.035746,0.959557,0.064986,0.964615,0.027164,0.932908,0.048504,0.983149,0.03768,0.969282,0.068688
11,yeast1458vs7,0.963876,0.043629,0.933951,0.074594,0.928446,0.035745,0.870281,0.05924,0.974436,0.051092,0.955008,0.088538
12,yeast2vs4,0.941912,0.120829,0.924774,0.150056,0.928927,0.111393,0.897887,0.136399,0.942987,0.121499,0.926973,0.151501
13,yeast4,0.976644,0.0368,0.956926,0.065683,0.967568,0.03255,0.939284,0.057545,0.98188,0.039547,0.967332,0.071108
14,vowel0,0.858166,0.093864,0.787635,0.107438,0.868818,0.150834,0.835322,0.163618,0.901605,0.102867,0.850971,0.125853
15,yeast2vs8,0.988172,0.026448,0.977536,0.05023,0.960075,0.037523,0.925454,0.066287,0.982796,0.03847,0.968516,0.0704
16,glass4,0.888841,0.135252,0.847573,0.174202,0.873902,0.156211,0.842538,0.182132,0.921707,0.147911,0.90769,0.154431
17,glass5,0.897561,0.125734,0.8548,0.166752,0.907317,0.125141,0.86896,0.169798,0.963415,0.081807,0.942948,0.127572
18,glass2,0.927244,0.100005,0.88673,0.129847,0.932179,0.082133,0.886989,0.116465,0.523077,0.051602,0.691108,0.025735
19,yeast5,0.979514,0.030454,0.961535,0.055489,0.980903,0.03149,0.964316,0.057604,0.982986,0.03228,0.968425,0.059092
20,yeast6,0.982409,0.0239,0.966405,0.044361,0.975503,0.020375,0.952897,0.037489,0.986552,0.026301,0.974654,0.049153
21,cleveland0vs4,0.83125,0.063853,0.720727,0.0824,0.925,0.09845,0.880384,0.130341,0.7625,0.020373,0.634654,0.029277

In [368]:
df_excel.loc[len(df_excel)]=list
df_excel.to_excel('/content/drive/MyDrive/pso_1.xlsx')